{% extends '@SyliusInvoicingPlugin/shared/download/pdf_layout.html.twig' %}

{% set shopBillingData = invoice.shopBillingData %}
{% set localeCode = invoice.localeCode %}
{% set logoPath = invoiceLogoPath %}

{% block header %}
    <strong>{{ 'sylius_invoicing_plugin.ui.issued_at'|trans([], 'messages', invoice.localeCode) }}:</strong>
    {{ invoice.issuedAt|date('Y-m-d H:i:s') }}
{% endblock %}

{% block buyer %}
    <h6>{{ 'sylius_invoicing_plugin.ui.buyer'|trans([], 'messages', invoice.localeCode) }}</h6>
    <strong>{{ invoice.billingData.firstName }} {{ invoice.billingData.lastName }}</strong><br/>
    {% if invoice.billingData.company %}
        {{ invoice.billingData.company }}<br/>
    {% endif %}
    {{ invoice.billingData.street }}<br/>
    {{ invoice.billingData.city }}<br/>
    {{ invoice.billingData.countryCode|sylius_country_name|upper }} {{ invoice.billingData.postcode }}
{% endblock %}

{% block seller %}
    {%- if shopBillingData %}
        <h6>{{ 'sylius_invoicing_plugin.ui.seller'|trans([], 'messages', invoice.localeCode) }}</h6>
        {% if shopBillingData.company %}<strong>{{ shopBillingData.company }}</strong><br/>{% endif %}
        {% if shopBillingData.street %}{{ shopBillingData.street }}<br/>{% endif %}
        {% if shopBillingData.city %}{{ shopBillingData.city }}<br/>{% endif %}
        {% if shopBillingData.taxId %}{{ shopBillingData.taxId }}<br/>{% endif %}
        {% if shopBillingData.countryCode and shopBillingData.postcode %}
            {{ shopBillingData.countryCode|sylius_country_name|upper }} {{ shopBillingData.postcode }}
        {% endif %}
    {% endif -%}
{% endblock %}

{% block title %}
    {{ 'sylius_invoicing_plugin.ui.invoice'|trans([], 'messages', invoice.localeCode) }} #{{ invoice.number }}
{% endblock %}

{% block data %}
    <table>
        <tr>
            <th>{{ 'sylius_invoicing_plugin.ui.no'|trans([], 'messages', invoice.localeCode) }}</th>
            <th>{{ 'sylius.ui.name'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius.ui.quantity'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.unit_net_price'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.discounted_unit_net_price'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.net_value'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.tax_rate'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.tax_amount'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius_invoicing_plugin.ui.gross_value'|trans([], 'messages', invoice.localeCode) }}</th>
            <th class="text-right">{{ 'sylius.ui.currency'|trans([], 'messages', invoice.localeCode) }}</th>
        </tr>

        {% for item in invoice.lineItems %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><strong>{{ item.name }}</strong> {% if item.variantName is not null %}({{ item.variantName }}){% endif %}</td>
                <td class="text-right">{{ item.quantity }}</td>
                <td class="text-right">{{ '%0.2f'|format(item.unitPrice/100) }}</td>
                <td class="text-right">{{ '%0.2f'|format(item.discountedUnitNetPrice/100) }}</td>
                <td class="text-right">{{ '%0.2f'|format(item.subtotal/100) }}</td>
                <td class="text-right">{% if item.taxRate is null %}0%{% else %}{{ item.taxRate }}{% endif %}</td>
                <td class="text-right">{{ '%0.2f'|format(item.taxTotal/100) }}</td>
                <td class="text-right">{{ '%0.2f'|format(item.total/100) }}</td>
                <td class="text-right">{{ invoice.currencyCode }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="9" class="bg-gray border-0"></td>
        </tr>

        <tr>
            <td class="border-0" colspan="6"></td>
            <td class="text-right bg-gray" colspan="2">{{ 'sylius_invoicing_plugin.ui.net_total'|trans([], 'messages', invoice.localeCode) }}:</td>
            <td class="text-right bg-gray">{{ '%0.2f'|format(invoice.subtotal/100) }}</td>
            <td class="text-right bg-gray">{{ invoice.currencyCode }}</td>
        </tr>

        <tr>
            <td class="border-0" colspan="6"></td>
            <td class="text-right bg-gray" colspan="2" >{{ 'sylius_invoicing_plugin.ui.taxes_total'|trans([], 'messages', invoice.localeCode) }}:</td>
            <td class="text-right bg-gray">{{ '%0.2f'|format(invoice.taxesTotal/100) }}</td>
            <td class="text-right bg-gray">{{ invoice.currencyCode }}</td>
        </tr>

        <tr>
            <td class="border-0" colspan="6"></td>
            <td class="text-right bg-gray" colspan="2"><strong>{{ 'sylius.ui.total'|trans([], 'messages', invoice.localeCode) }}:</strong></td>
            <td class="text-right bg-gray"><strong>{{ '%0.2f'|format(invoice.total/100) }}</strong></td>
            <td class="text-right bg-gray"><strong>{{ invoice.currencyCode }}</strong></td>
        </tr>
        <tr>
            <td class="border-0" colspan="6"></td>
            <td class="text-right bg-gray" colspan="2">{{ 'sylius_invoicing_plugin.ui.payment.paid'|trans([], 'messages', invoice.localeCode) }}:</td>
            <td class="text-right bg-gray" colspan="2">
                {% if invoice.paymentState() is constant('Sylius\\InvoicingPlugin\\Entity\\InvoiceInterface::PAYMENT_STATE_COMPLETED') %}
                    {{ 'sylius_invoicing_plugin.ui.payment.yes'|trans([], 'messages', invoice.localeCode) }}
                {% else %}
                    {{ 'sylius_invoicing_plugin.ui.payment.no'|trans([], 'messages', invoice.localeCode) }}
                {% endif %}
            </td>
        </tr>

        {% if invoice.taxItems.count() > 0 %}
            <tr>
                <td class="border-0" colspan="7"></td>
                <td class="text-right">{{ 'sylius_invoicing_plugin.ui.tax_rate'|trans([], 'messages', invoice.localeCode) }}</td>
                <td class="text-right">{{ 'sylius_invoicing_plugin.ui.tax_amount'|trans([], 'messages', invoice.localeCode) }}</td>
                <td class="text-right">{{ 'sylius.ui.currency'|trans([], 'messages', invoice.localeCode) }}</td>
            </tr>

            {% for taxItem in invoice.taxItems %}
                <tr>
                    <td class="border-0" colspan="7"></td>
                    <td class="text-right">{{ taxItem.label }}</td>
                    <td class="text-right">{{ '%0.2f'|format(taxItem.amount/100) }}</td>
                    <td class="text-right">{{ invoice.currencyCode }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}
