{% set billingData = invoice.shopBillingData %}

{% if billingData %}
    <h4 class="ui top attached styled header">
        {{ 'sylius_invoicing_plugin.ui.seller'|trans }}
    </h4>
    <div class="ui attached segment" id="shop-billing-data">
        <address>
            <strong>{{ billingData.company }}</strong>
            {{ billingData.street }}<br/>
            {{ billingData.city }}<br/>
            {{ billingData.taxId }}<br/>
            <i class="{{ billingData.countryCode|lower }} flag"></i>
            {{ billingData.countryCode|sylius_country_name|upper }} {{ billingData.postcode }}
        </address>
    </div>
{% endif %}
