{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

<div class="ui segment" id="order-invoices">
    <h3 class="ui dividing header" id="shipping-state">{{ 'sylius_invoicing_plugin.ui.invoices'|trans }}</h3>
    <table class="ui celled compact small table fixed">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.number'|trans }}</th>
            <th>{{ 'sylius.ui.channel'|trans }}</th>
            <th>{{ 'sylius_invoicing_plugin.ui.issued_at'|trans }}</th>
            <th>{{ 'sylius.ui.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>
                    <a href="{{ path('sylius_invoicing_plugin_admin_invoice_show', {'id': invoice.id}) }}" >{{ invoice.number }}</a>
                </td>
                <td>{{ invoice.channel.name }}</td>
                <td>
                    {{ invoice.issuedAt|date('d-m-Y') }}
                </td>
                <td>
                    {% set path = path('sylius_invoicing_plugin_admin_invoice_download', { 'id': invoice.id }) %}

                    {{ buttons.default(path, 'sylius_invoicing_plugin.ui.download_invoice'|trans, invoice.id, 'download') }}

                    {% set path = path('sylius_invoicing_plugin_admin_invoice_resend', { 'id': invoice.id }) %}

                    {{ buttons.default(path, 'sylius_invoicing_plugin.ui.resend_invoice'|trans, invoice.id, 'send') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
