{% set shopBillingData = invoice.shopBillingData %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>{{ 'sylius_invoicing_plugin.ui.invoice'|trans }} {{ invoice.number }}</h1>
        <p>{{ 'sylius_invoicing_plugin.ui.order_number'|trans }}: {{ invoice.orderNumber }}</p>
        <p>{{ 'sylius_invoicing_plugin.ui.issued_at'|trans }}: {{ invoice.issuedAt|date('Y-m-d H:i:s') }}</p>

        <br /><br />

        <table width="100%">
            <thead>
                <tr>
                    <th align="left">{{ 'sylius_invoicing_plugin.ui.buyer'|trans }}</th>
                    {% if shopBillingData %}
                        <th align="left">{{ 'sylius_invoicing_plugin.ui.seller'|trans }}</th>
                    {% endif %}
                </tr>
            </thead>
        <tbody>
            <td width="50%">
                <address>
                    <strong>{{ invoice.billingData.firstName }} {{ invoice.billingData.lastName }}</strong>
                    {% if invoice.billingData.company %}
                        {{ invoice.billingData.company }}<br/>
                    {% endif %}
                    {{ invoice.billingData.street }}<br/>
                    {{ invoice.billingData.city }}<br/>
                    {{ invoice.billingData.countryCode|sylius_country_name|upper }} {{ invoice.billingData.postcode }}
                </address>
            </td>
            {% if shopBillingData %}
                <td width="50%">
                    <address>
                        <strong>{{ shopBillingData.company }}</strong>
                        {{ shopBillingData.street }}<br/>
                        {{ shopBillingData.city }}<br/>
                        {{ shopBillingData.taxId }}<br/>
                        <i class="{{ shopBillingData.countryCode|lower }} flag"></i>
                        {{ shopBillingData.countryCode|sylius_country_name|upper }} {{ shopBillingData.postcode }}
                    </address>
                </td>
            {% endif %}
        </tbody>
        </table>

        <br /><br />

        <table>
            <thead>
            <tr>
                <th align="left">{{ 'sylius.ui.name'|trans }}</th>
                <th align="left">{{ 'sylius.ui.code'|trans }}</th>
                <th align="left">{{ 'sylius.ui.unit_price'|trans }}</th>
                <th align="left">{{ 'sylius.ui.quantity'|trans }}</th>
                <th align="left">{{ 'sylius.ui.subtotal'|trans }}</th>
                <th align="left">{{ 'sylius.ui.tax_total'|trans }}</th>
                <th align="left">{{ 'sylius.ui.total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in invoice.lineItems %}
                <tr>
                    <td>
                        {{ item.name }} {% if item.variantName is not null %}({{ item.variantName }}){% endif %}
                    </td>
                    <td>
                        {{ item.variantCode }}
                    </td>
                    <td>
                        {{ item.unitPrice|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.subtotal|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                    </td>
                    <td>
                        {{ item.taxTotal|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                    </td>
                    <td>
                        {{ item.total|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <strong>{{ 'sylius.ui.subtotal'|trans }}</strong>:
                </th>
                <th>
                    {{ invoice.subtotal|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                </th>
            </tr>
            {% for item in invoice.taxItems %}
                <tr>
                    <th colspan="6">
                        <strong>{{ item.label }}</strong>:
                    </th>
                    <th>
                        {{ item.amount|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                    </th>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="6">
                    <strong>{{ 'sylius.ui.total'|trans }}</strong>:
                </th>
                <th>
                    {{ invoice.total|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}
                </th>
            </tr>
            </tfoot>
        </table>
    </body>
</html>
