{% set invoice = hookable_metadata.context.resource %}

<div class="mt-1">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <strong>{{ 'sylius_invoicing_plugin.ui.issued_at'|trans }}:</strong>
            <span {{ sylius_test_html_attribute('issued-at') }}>{{ invoice.issuedAt|format_datetime }}</span>
        </li>
        <li class="list-inline-item">
            <strong>{{ 'sylius_invoicing_plugin.ui.issued_for_order'|trans }}:</strong>
            #{{ invoice.order.number }}
        </li>
        <li class="list-inline-item">
            <strong>{{ 'sylius_invoicing_plugin.ui.issued_from'|trans }}:</strong>
            <div {{ sylius_test_html_attribute('channel') }} class="d-inline">
                {% include '@SyliusAdmin/shared/grid/field/channel.html.twig' with {'data': invoice.channel} %}
            </div>
        </li>
    </ul>
</div>
