{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusAdmin/Common/Macro/money.html.twig' as money %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ 'sylius.ui.invoice'|trans ~ ' ' ~ invoice.number }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_header.html.twig' %}
        </div>
        <div class="six wide right aligned column">
            {% set path = path('sylius_invoicing_plugin_admin_invoice_index') %}
            {{ buttons.default(path, '', 'back', 'arrow alternate circle left outline') }}

            {% set path = path('sylius_invoicing_plugin_admin_invoice_download', {'id': invoice.id}) %}
            {{ buttons.default(path, 'sylius_invoicing_plugin.ui.download_invoice'|trans, invoice.id, 'download') }}

            {% set path = path('sylius_invoicing_plugin_admin_invoice_resend', {'id': invoice.id}) %}
            {{ buttons.default(path, 'sylius_invoicing_plugin.ui.resend_invoice'|trans, invoice.id, 'send') }}
        </div>
    </div>

    {% include '@SyliusInvoicingPlugin/Invoice/Show/_breadcrumb.html.twig' %}

    <div class="ui stackable segment grid">
        <div class="twelve wide column">
            <table class="ui celled compact small table fixed">
                <thead>
                <tr>
                    <th class="four wide sylius-table-column-name">{{ 'sylius.ui.name'|trans }}</th>
                    <th class="four wide sylius-table-column-code">{{ 'sylius.ui.code'|trans }}</th>
                    <th class="sylius-table-column-unit_price">{{ 'sylius.ui.unit_price'|trans }}</th>
                    <th class="sylius-table-column-quantity">{{ 'sylius.ui.quantity'|trans }}</th>
                    <th class="sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
                    <th class="sylius-table-column-tax_total">{{ 'sylius.ui.tax_total'|trans }}</th>
                    <th class="sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in invoice.lineItems %}
                    <tr>
                        <td class="single line line-item-name">
                            {{ item.name }} {% if item.variantName is not null %}({{ item.variantName }}){% endif %}
                        </td>
                        <td class="single line line-item-code">
                            {{ item.variantCode }}
                        </td>
                        <td class="right aligned line-item-unit-price">
                            {{ money.format(item.unitPrice, invoice.currencyCode) }}
                        </td>
                        <td class="right aligned line-item-quantity">
                            {{ item.quantity }}
                        </td>
                        <td class="right aligned line-item-subtotal">
                            {{ money.format(item.subtotal, invoice.currencyCode) }}
                        </td>
                        <td class="right aligned line-item-tax-total">
                            {{ money.format(item.taxTotal, invoice.currencyCode) }}
                        </td>
                        <td class="right aligned line-item-total">
                            {{ money.format(item.total, invoice.currencyCode) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6" class="right aligned">
                        <strong>{{ 'sylius.ui.subtotal'|trans }}</strong>:
                    </th>
                    <th id="invoice-subtotal" class="right aligned">
                        {{ money.format(invoice.subtotal, invoice.currencyCode) }}
                    </th>
                </tr>
                {% for item in invoice.taxItems %}
                    <tr class="tax-item">
                        <th colspan="6" class="right aligned">
                            <strong>{{ item.label }}</strong>:
                        </th>
                        <th class="right aligned tax-item-amount">
                            {{ money.format(item.amount, invoice.currencyCode) }}
                        </th>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="6" class="right aligned">
                        <strong>{{ 'sylius.ui.total'|trans }}</strong>:
                    </th>
                    <th id="invoice-total" class="right aligned">
                        {{ money.format(invoice.total, invoice.currencyCode) }}
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="two wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_billingData.html.twig' %}
        </div>
        <div class="two wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_shopBillingData.html.twig' %}
        </div>
    </div>
{% endblock %}
