{% extends '@SyliusAdmin/layout.html.twig' %}

{% import '@SyliusAdmin/Common/Macro/money.html.twig' as money %}

{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ 'sylius.ui.invoice'|trans ~ ' ' ~ invoice.number }} {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="ten wide column">
            {% include '@SyliusInvoicingPlugin/Invoice/Show/_header.html.twig' %}
        </div>
        <div class="six wide right aligned column">
            {% set path = path('sylius_invoicing_plugin_admin_invoice_index') %}
            {{ buttons.default(path, '', 'back', 'arrow alternate circle left outline') }}

            {% set path = path('sylius_invoicing_plugin_admin_invoice_download', {'id': invoice.id}) %}
            {{ buttons.default(path, 'sylius_invoicing_plugin.ui.download_invoice'|trans, invoice.id, 'download') }}

            {% set path = path('sylius_invoicing_plugin_admin_invoice_resend', {'id': invoice.id}) %}
            {{ buttons.default(path, 'sylius_invoicing_plugin.ui.resend_invoice'|trans, invoice.id, 'send') }}
        </div>
    </div>

    {% include '@SyliusInvoicingPlugin/Invoice/Show/_breadcrumb.html.twig' %}

    <div class="ui stackable segment grid">
        {% include '@SyliusInvoicingPlugin/Invoice/invoice.html.twig' with {'parrentTypeTemplate': 'show'} %}
    </div>

    <style>
        .invoice-box { margin: auto; font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555 }
        .invoice-box .issued-at { font-weight: bold }
        .invoice-box tr td.invoice-number { text-align: center; font-weight: bold; }
        .invoice-box table { width: 100%; line-height: inherit; text-align: left; border-collapse: collapse;  }
        .invoice-box table td { padding: 5px; vertical-align: top; text-align: right; }
        .invoice-box table tr td:nth-child(1):not(.invoice-number) { text-align: left; }
        .invoice-box table tr.top table td { padding-bottom: 20px; }
        .invoice-box table tr.top table td.title:not(.totals) { font-size: 45px; line-height: 45px; color: #333; }
        .invoice-box table tr.information table td { padding-bottom: 40px; border: 1px solid rgba(34,36,38,.15); }
        .invoice-box table tr.heading td { background: #eee; font-weight: bold;  border: 1px solid rgba(34,36,38,.15); }
        .invoice-box table tr.heading { border-radius: 20px; }
        .invoice-box table tr.details td { padding-bottom: 20px; }
        .invoice-box table tr.item td{ border: 1px solid rgba(34,36,38,.15); }
        .invoice-box table tr.item.last td {  }
        .invoice-box table .totals {  }
        .invoice-box .bold { font-weight: bold; }
        .invoice-tax-tr { border: 1px solid rgba(34,36,38,.15); background: #eee; }
        .invoice-tax-td { border: 1px solid rgba(34,36,38,.15); }
    </style>

{% endblock %}
