{% set form = settings.form %}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius_invoicing_plugin.ui.billing_data'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.billingData.company) }}
        {{ form_row(form.billingData.taxId) }}
    </div>
    <div class="two fields">
        {{ form_row(form.billingData.countryCode) }}
        {{ form_row(form.billingData.street) }}
    </div>
    <div class="two fields">
        {{ form_row(form.billingData.city) }}
        {{ form_row(form.billingData.postcode) }}
    </div>
</div>
